/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*-------------------
    Header utilities
---------------------- */

header{
    margin-top: 50px;
    margin-bottom: 20px;
}
.head-banner{
    font-size: 24px;
    margin-left: 120px;
}
nav a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
nav i{
    color: black;
    padding-right: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
}
/*---------------------------
            main
------------------------- */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
/* Influencer blog section */

.influencer-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px;

}
.blog{
    width: 582px;
    height: 270px;
    
}
.blog h1{
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 0;
}
.blog p{
    margin-top: 16px;
    margin-bottom: 16px;
}
.blog .first-button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 44px;
    padding: 10px, 24px;
    border-radius: 45px;
    background-color: #E02C6D;
    border: none;
}
.blog .first-button .fa-arrow-right{
    width: 24px;
    height: 24px;
    font-size: 18px;
    padding: 5px;
    margin-left: 8px; 
    margin-top: 8px;
    position: relative;
    
}
.first-button:hover .fa-arrow-right{
    transform: scale(1.5);
    transition: transform 3s ease-in-out;
}
.blog-image img{
    width: 440px;
    height: 414px;
    margin-right: 130px;
}
/*-------------------
     Logos styles
---------------------- */

.container{
    width: 100%;
}
.logos{
    width: 900px;
    height: 80px;
    display: flex;
    
    justify-content: space-around;
    align-items:center;
    margin-top: 120px;
    margin-left: 160px;
    margin-right: 160px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}
/*-----------------------------------
 Popular collection section styles 
-----------------------------------*/

.collections{
    width: 1050px;
    height: 1662px;
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 5px;
}
.cards{
    justify-content: center; 
    align-items: center; 
}
.collection-header h2{
    text-align: center;
    color: rgb(24, 24, 24);
    
}
.card{
    width: 310px;
    height: 480px;
    padding-left: 30px;
    padding-top: 25px;
    box-shadow: 10px 5px 25px 10px rgb(219, 218, 218);
    border-radius: 8px;
}
.all-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}
.card img{
    width: 280px;
}
.card h2{
    margin-top: 0;
    margin-bottom: 0;
}
.price{
    font-weight: 400;
}
.fa-star, .fa-star-half-alt{
    padding: 2px;
    color: #E02C6D;
}
.rating{
    margin-left: 5px;
}

.right-button{ 
    text-align: right;
    margin-right: 80px;
} 
.right-button .collection-button {
    border: none;
    background: none;
    text-decoration: none;
    margin-top: 15px;
    font-size: 16px;
    color:#E02C6D ;
    font-weight: 700;
}
/* --------------
    Bonus 
------------------*/
.bonus{
    display: flex;
    width: 80%;
    margin-top: 78px;
    margin-left: 130px;
}
.bonus-button{
    width: 150px;
    height: 44px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 45px;
    background-color: #E02C6D;
    border: none;
}

/*-----------------
     Footer styles
-------------------- */
footer{
    background-color: #0a0826;
}
.influencer-footer{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
.influencer-footer h3{
    font-weight: 700;
    padding-top: 50px;
}
.footer-icon{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

/*-------------------
     Media query 
---------------------*/

@media only screen and (max-width:688px) {
    .container{
        width:100%
    }
    .head-banner{
        text-align:center;
        background-color:red;
    }
    .menu-right{
        display:none;
    }
    .blog-image img{
        Width:257px;
        Height:257px;
    }
    .influencer-blog{
        flex-direction:column-reverse;
        justify-content: center;
    }
    .blog h1{
        font-size: 40px;
    }
    .blog {
        width:404px;
        height:222px;
    }
    .logos{
        Width: 275.21px;
        Height: 90px;
        border: none;
        margin-top: 200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        /* grid-template-rows: repeat(2,1fr); */
        justify-content: center;
        align-items: center;
    }
    /* h2{
        text-align: center;
    } */
    .all-collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .right-button{
        margin-top: 3270px;
        
    }
    .bonus{
       flex-direction: column-reverse;
        
    }
    .bonus-blog{
        justify-items: center;
        Width: 329px;
        Height: 88px;
    }
    .bonus-button{
         margin-left: 93px;  
    }
    .bonus img{
        margin-top: 250px;
    }
    footer{
        Width: 500px;
        Height:300px;

    }
}

