/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Header utilities */
.head-banner{
    font-size: 24px;
    margin-left: 120px;
}
/* main */
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
/* Influencer blog section */

.influencer-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 80px;
    justify-content: center;
    align-items: center;
    margin-left: 110px;

}
.blog{
    width: 582px;
    height: 270px;
    
}
.blog h1{
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 0;
}
.blog p{
    margin-top: 16px;
    margin-bottom: 16px;
}
.blog button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 44px;
    padding: 10px, 24px;
    border-radius: 45px;
    background-color: #E02C6D;
    border: none;
}
.blog .button .fa-arrow-right{
    width: 24px;
    height: 24px;
    font-size: 18px;
    padding: 5px;
    margin-left: 8px; 
    margin-top: 8px;
    position: relative;
    
}
.button:hover .fa-arrow-right{
    transform: scale(1.5);
    transition: transform 3s ease-in-out;
    translate: transform 20px ;
}
.blog-image img{
    width: 440px;
    height: 414px;
    margin-right: 130px;
}