/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Header utilities */
.head-banner{
    font-size: 24px;
    margin-left: 120px;
}
/* main */
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}
/* Influencer blog section */

.influencer-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px;

}
.blog{
    width: 582px;
    height: 270px;
    
}
.blog h1{
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 0;
}
.blog p{
    margin-top: 16px;
    margin-bottom: 16px;
}
.blog .first-button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 44px;
    padding: 10px, 24px;
    border-radius: 45px;
    background-color: #E02C6D;
    border: none;
}
.blog .first-button .fa-arrow-right{
    width: 24px;
    height: 24px;
    font-size: 18px;
    padding: 5px;
    margin-left: 8px; 
    margin-top: 8px;
    position: relative;
    
}
.first-button:hover .fa-arrow-right{
    transform: scale(1.5);
    transition: transform 3s ease-in-out;
}
.blog-image img{
    width: 440px;
    height: 414px;
    margin-right: 130px;
}
/*-------------------
     Logos styles
---------------------- */

.container{
    width: 100%;
}
.logos{
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 120px;
    margin-left: 160px;
    margin-right: 160px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}
/*-----------------------------------
 Popular collection section styles 
-----------------------------------*/

.collections{
    width: 1050px;
    height: 1662px;
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 5px;
}
.cards{
    justify-content: center; 
    align-items: center; 
}
.collection-header h2{
    text-align: center;
    color: rgb(24, 24, 24);
    
}
.card{
    width: 310px;
    height: 480px;
    padding-left: 25px;
    padding-top: 25px;
    box-shadow: 10px 5px 25px 10px rgb(219, 218, 218);
    border-radius: 8px;
}
.all-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    /* margin-top: 20px; */
    /* justify-content: center; */
}
.card img{
    width: 280px;
}
.card h2{
    margin-top: 0;
    margin-bottom: 0;
}
.price{
    font-weight: 400;
}
.fa-star, .fa-star-half-alt{
    padding: 2px;
    color: #E02C6D;
}
.rating{
    margin-left: 5px;
}

.right-button{ 
    text-align: right;
    margin-right: 80px;
} 
.right-button .collection-button {
    border: none;
    background: none;
    text-decoration: none;
    margin-top: 15px;
    font-size: 16px;
    color:#E02C6D ;
    font-weight: 700;
}
/* Bonus */
.bonus{
    display: flex;
    width: 80%;
    margin-top: 78px;
    margin-left: 130px;
}
.bonus-button{
    width: 150px;
    height: 44px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 45px;
    background-color: #E02C6D;
    border: none;
}

/* Footer styles */
footer{
    background-color: #0a0826;
}
.influencer-footer{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
.influencer-footer h3{
    font-weight: 700;
    padding-top: 50px;
}
.footer-icon{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}


